.hotel-card .content{
    width: 90% !important;
    margin: auto !important;
    margin-top: -50px !important;
    border: 1px solid #D9D9D9;
    background-color: white !important;
    padding: 20px;
    z-index: 2;
    position: relative;
}

.purple{
    color: #4F0DA3;
}

/* App.css */
.ReactTags__tags {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
  }
  
  .ReactTags__tag {
    display: inline-block;
    background-color: #b4b2b2;
    border-radius: 3px;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  
  .ReactTags__remove {
    margin-left: 8px;
    cursor: pointer;
    font-weight: bold;
  }

  /* Custom styles for input field */
.ReactTags__tagInput {
    display: inline-block;
    width: auto;
  }
  
  .ReactTags__tagInputField {
    width: 200px; /* Adjust the width to make the input field smaller */
    padding: 3px 5px; /* Adjust padding for a smaller height */
    font-size: 14px; /* Adjust font size if needed */
  }



  .hotel-btn2 {
    background-color: white;
    color: #4f0da3;
    border: 1px solid #4f0da3;
  }
  
  .hotel-gray-btn {
    width: 211px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
    background-color: white;
    color: gray;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
  }

  .hotel-close-btn{
    float: right;
    font-size: 20px;
  }


  .hotel-small-modal {
    width: 100%;
    max-width: 500px;
  }

  /* .promote-hotel input[type="radio"] {
    position: relative;
}

.promote-hotel input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: purple;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */
